.product {
  border-radius: 10px;
  border: 1px solid #e9e9e9;
  margin: 10px;
  cursor: pointer;
  width: 215px;
  box-shadow: 10px 10px 10px #f6f6f6;
}

.product > a {
  text-decoration: none;
  font-size: unset;
}

.product:hover {
  box-shadow: 10px 10px 10px #eeeeee;
}

.productDetails {
  border-radius: 10px;
}

.productImage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  height: 210px;
  border-radius: 10px;
}

.productImage > span > span > img {
  max-width: 178px;
  max-height: 192px;
}

.productName {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: #969696;
  text-align: center;
  height: 68px;
  background-color: white;
}

.productName > p {
  background-color: white;
  font-size: 15px;
}

.productButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  width: 100%;
  border-top: 1px solid #e9e9e9;
  cursor: pointer;
  border-radius: 0 0 10px 10px;
  background-color: white;
}

.productButton:hover {
  background-color: #f74258;
}

.productButton:hover .buttonIcon {
  color: #ffffff;
  background-color: #f74258;
}

.productButton:hover .buttonIcon > svg {
  color: #ffffff;
  background-color: #f74258;
}

.productButton:hover .buttonText > h4 {
  color: #ffffff;
  background-color: #f74258;
}

.buttonIcon {
  color: #f74258;
  padding-right: 10px;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.buttonText {
  background-color: transparent;
}

.buttonText > h4 {
  color: #969696;
  background-color: transparent;
}

@media screen and (max-width: 770px) and (min-width: 426px) {
  .products {
    margin: 10px;
    width: 100%;
    top: 30px;
    max-width: 760px;
  }
}
